*{
  margin: 20px;
  background-color: rgb(29, 28, 28);
  font-family: 'Righteous', cursive;
  color: white;
}
.container{
  text-align: center;
  padding: 50px;
}

#bill-amount{
  padding: 10px;
}
#cash-given{
  padding: 10px;
}
.heading{
  text-align: center;
  font-weight: bold;
  display: block;
  color: blueviolet;
}
.description{
  color: rgb(122, 117, 156);
}
input{
  border-color: violet;
  color: white;
}
input:hover{
  border-color: #2E76CF;
}
#check-button{
  
  padding: 10px 50px;
  margin: 8px 97px;
  border-radius: 15px  ;

  background:#2E76CF;
  
  font-size: larger;
  
}
#check-button:hover{
  cursor: pointer;
  border-color: greenyellow ;
  background:#173b67;

}
.change-table{
  margin: 0px 300px;
  border-radius: 10px;
  font-size: 20px;
  border: 10px solid rgb(146, 133, 133);
}
label{
  font-size: 20px;
}
tr td{
  border: 1px solid rgb(146, 133, 133);
  padding: 20px;
}
tr th{
  border: 1px solid chocolate;
}